<h1 class="mb-4">Comentarios</h1>

<div class="text-end mb-2">
<button class="btn btn-sm btn-primary" routerLink="/crear">
  Nuevo Comentario
</button>
</div>

<table class="table table-primary table-hover table-striped table-responsive table-sm table-bordered text-center">
  <thead class="table-light">
    <tr>
      <th>#</th>
      <th>EMAIL</th>
      <th>REGION</th>
      <th>COMENTARIO</th>
      <th class="d-none d-sm-block">FECHA CREACION</th>
      <th>ACCION</th>
    </tr>
  </thead>

  <tbody>
  @for(comentario of comentarios; track comentario.id){
    <tr>
      <td>{{ comentario.id }}</td>
      <td>{{ comentario.email }}</td>
      <td>{{ comentario.fk_region }}</td>
      <td>{{ comentario.comentario }}</td>
      <td class="d-none d-sm-block">{{ comentario.fecha | date:'dd/MM/yyyy HH:MM' }}</td>
      <td></td>
    </tr>

  }
  </tbody>
</table>
